footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
    background: #e5e7e9;
    border-radius: 5px 10px;
}